{% extends 'base.html' %} 
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %} 
<p>{{ review.title }}</p>
<p>{{ review.content }}</p>
<a href="{% url 'reviews:update' review.pk %}">글수정</a>
<a href="{% url 'reviews:delete' review.pk %}">글삭제</a>
<span>
  {% if request.user.is_authenticated %}
  <a  href="{% url 'reviews:like' review.pk %}">
    {% if request.user in review.like_users.all %}
    
    좋아요 취소
    <i class="bi bi-chat-square-heart-fill"></i></i>
    
    {% else %}
    좋아요
    <i class="bi bi-chat-square-heart"></i></i>
    {% endif %}</a
  >{{ review.like_users.count }}</span
>
{% endif %} 
</span>
<hr>
{% if review.image %}
<img src="{{ review.image.url }}" alt="{{ review.image }}" width="400" height="300">
{% endif %}




<hr>
<!-- Comment-Form -->
<form action="{% url 'reviews:comment_create' review.pk %}" method="post">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% bootstrap_button button_type="submit" content="OK" %}
</form>

<hr>
<!-- Comments -->
<div id="comments">
  {% for comment in comments %}
    <div class="d-flex justify-content-between">
      <p>{{ comment.content }}</p>
      <!-- Comment-delete -->
      <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_button "delete" button_type="submit" button_class="btn-primary" %}
      </form>
    </div>
    <hr>
  {% endfor %}
</div>

{% endblock content %}


{% block script %}


{% endblock script %}

<!-- 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const commentForm = document.querySelector('#comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  commentForm.addEventListener('submit', function(event) {
    event.preventDefault();
    const reviewId = event.target.dataset.reviewId
    axios({
      method: 'post',
      url: `/reviews/${reviewId}/comment/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm)
    })
      .then(response => {
        console.log(response.data)
        const comments = document.querySelector('#comments')
        const box = document.createElement('div')
        const p = document.createElement('p')
        p.innerText = `${response.data.content}`
        const hr = document.createElement('hr')
        const deleteBtn = document.createElement('input')
        deleteBtn.setAttribute('type', 'submit')
        deleteBtn.setAttribute('value', 'delete')
        deleteBtn.setAttribute('name', 'comment-delete')
        deleteBtn.setAttribute('class', 'btn btn-primary')
        comments.append(box, hr)
        box.append(p, deleteBtn)
        box.setAttribute('class', 'box d-flex justify-content-between')
        const comment_pk = `${response.data.comment_pk}`
        box.setAttribute('id', comment_pk)
        commentForm.reset()
      })
  })

  const commentDelete = document.querySelector('#comment-delete')

  commentDelete.addEventListener('submit', function(event) {
    event.preventDefault();
    const reviewId = event.target.dataset.reviewId
    const commentId = event.target.dataset.commentId

    axios({
      method: 'post',
      url: `/reviews/${reviewId}/comment/${commentId}/delete/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentDelete)
    })
      .then(response => {
        const deleteBtn = document.querySelector('.box > input[type=submit]')
        const comment_pk = `${response.data.comment_pk}`
        console.log(response.data)
        const comment = response.data.comment
        const comments = document.querySelector('#comments')
        const p = document.querySelector('.box p')
        const hr = document.querySelector('#comments box hr')
      .catch((error) => {
        console.log(error.response)
      })
  })
</script>
-->