{% extends 'base.html' %} 
{% block content %}
{% if request.user == review.user %}
  <a href="{% url 'reviews:update' review.pk %}">글수정</a>
  <a href="{% url 'reviews:delete' review.pk %}">글삭제</a>
{% endif %}
<hr />

{% if request.user.is_authenticated %}
  <a href="{% url 'reviews:like' review.pk %}">
    {% if request.user in review.like_users.all %}
    <i class="bi bi-chat-square-heart">좋아요 취소</i>
  {% else %}
  <i class="bi bi-chat-square-heart-fill">좋아요</i>
  {% endif %}</a>
  <span> {{ review.like_users.count }}</span>
{% endif %}
{% if review.image %}
<img src="{{ review.image.url }}" alt="{{ review.image }}">
{% endif %}
{{ review.title }}
{{ review.content }} 
{% endblock content %}

<button></button>
