@import 'reviews/detail.css';
@import 'reviews/create.css';
@import 'accounts/detail.css';


form {
  margin: 0;
}

a { 
  text-decoration:none;
  color: #000;
}

a:hover { 
  text-decoration:none;
  color: #000;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}


.review-index {
  margin-top: 100px;
}
