.detail-wrap {
  width: 80%;
  margin: auto; 
}

.detail {
  height: 100vh;
  margin-top: 100px;
}

.detail-left {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-right {
  background-color: #fff;
}

.box {
  width: 50px;
  height: 30px;
}