{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

  <div class="create border py-5">
    <p><img src="https://fontmeme.com/images/instagram-new-logo.png" width="180" height="60" alt=""></p>
    <form action = "{% url 'accounts:login' %}"" method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button content="로그인" button_type="submit" button_class="btn-outline-primary w-100" %}
    </form>
  </div>

{% endblock content %}
