{% extends 'base.html' %}
{% block content %}


<div class="profile">
    <h5>My page</h5>

    {% if profile.image %}
    <div class="row">
        <img src="{{ profile.image.url }}" alt="" style="width: 100px; height: 100px; border-radius: 50%" />
        <div class = "col-2 d-flex justify-content-around" >
          <p class = "fs-3 my-2" > {{ user.username }}</p>

    </div>
        <div class="col-12 d-flex justify-content-around ">

            <div>
                <p class="fw-bold text-center ">{{ user.review_set.count }}</p>
                <h5>게시물</h5></a>
            </div>

            <div>
                <p class="fw-bold text-center">{{ user.followings.count }}</p>
                <h5>팔로우</h5>
            </div>
            <div>
                <p class="fw-bold text-center">{{ user.followers.count }}</p>
                <h5>팔로워</h5>
            </div>
        </div>
    </div>
    {% else %}
    <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="" style="width: 100px; height: 100px" />
    {% endif %}

    <div class="col-6">
        {% for article in user.article_set.all %}
        <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
        </p>
        {% endfor %}
    </div>

    <div class="mb-2">
        <br>
        MAIL :{{ user.email }}
    </div>
    <a href="{% url 'accounts:profile_update' %}" class="btn btn-outline-success w-100 m-1">프로필 수정</a>
    <a href="{% url 'accounts:update' user.pk %}" class="btn btn-outline-success w-100 m-1">개인정보 수정</a>
    </p>
</div>

<hr>
<div class="d-flex justify-content-center">
    <i class="bi bi-card-image fs-5 ">게시물</i>
</div>
<hr>

<!-- Reviews -->
<div>
    {% for review in reviews %}
    {% if review.image %}
    <img class="m-2" src="{{ review.image.url }}" alt="{{ review.image }}" width="400" height="300" />
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}